
<% if @comment.save %>
$('.errorFlash').fadeOut();
    $('form textarea').val(' ');
    $('.productComments').prepend("<h3 class='commentFlash'>Ваш отзыв будет опубликован после проверки модератором</h3>");
    setTimeout(function () {
    $('.commentFlash').fadeOut();
    }, 10000);
<% else %>
    $('.productComments').prepend("<h3 class='commentFlash errorFlash' style='color: red;'><%= @comment.errors.messages.values.join(', ') %></h3>");
<% end %>