<div class="container col-sm-offset-1">
  <div class="color col-sm-10">
    <div class="pages">
      <h3 class="text-center">О НАС</h3>
      <p class="primer">Интернет-магазин <span style="color: #386ccd">ЕВРОХАУС</span> - предлагает широкий выбор качественных товаров из Европы на Украинском рынке.</p>
      <p class="primer">Подгузники DADA,TOUJOURS, PAMPERS, бытовую химию, средства для личной гигиены, кофе, чай, шоколад, спагетти, оливковое масло и другие товары.</p>
      <p class="primer">А также большой выбор товаров для дома (пластик, аксессуары для ванной, сантехника, швабры и МНОГОЕ другое. Мы предлагаем нашим клиентам высококачественную и востребованную продукцию.</p>
      <p class="primer">В нашем ассортименте товары представлены такими производителями, как: <span style="color: #386ccd">Dada, Toujours, Waschkonig, DENKMIT, FORMIL, CIEN, BALEA, GALLUS, W5, POWER WASH, PASSION GOLD</span>  и многие другие.</p>
      <p class="primer">У нас вы найдете качественную продукцию, доступные цены, ПОСТОЯННОЕ пополнение товара и <span style="color: #386ccd">БЕСПЛАТНУЮ доставку</span> по городу ЗАПОРОЖЬЕ!</p>
      <p class="primer"><span style="color: #386ccd">Доступные цены!</span></p>
      <p class="primer"><span style="color: #386ccd">Европейское качество!</span> </p>
      <p class="primer"><span style="color: #386ccd">Бесплатная доставка по городу!</span></p>
    </div>
  </div>
</div>
<style>
  .fone{background: #1417ae;}
</style>