<div class="container col-sm-offset-1">
  <div class="color col-sm-10">
    <div class="pages">
      <h3 class="text-center">Мы предлагаем классный товар!</h3>
      <p class="primer"><%= image_tag '02.jpg' %>
        При заказе товара на сумму 200 грн. и выше доставка по Запорожью осуществляется бесплатно!
        При заказе товара на сумму до 200 грн. доставка по Запорожью составляет 8 грн.
        Доставка осуществляется курьером в оговоренное с нашим менеджером время и место. Курьер выезжает только по предварительному звонку.
        Срок доставки – от 2 до 24 часов. Другие сроки доставки оговариваются индивидуально с нашими менеджерами, звоните.</p>
    </div>
  </div>
</div>