<div class="container col-sm-offset-1">
  <div class="color col-sm-10">
    <div class="pages">
      <h3 class="text-center">Наши контакты</h3>
      <p class="primer">
      Телефон 098-987-66-55
      скайп fghyhgrtjyit</p>
    </div>
  </div>
</div>