<div class="container col-sm-offset-1">
  <div class="color col-sm-10">
    <div class="pages">
      <h3 class="text-center">НАШИ КОНТАКТЫ</h3>
      <p class="primer">
        Телефоны: +380669235956, +380672738072, +380672738072(viber)
      </p>
      <p class="primer">
        Почта: kat-magi@mail.ru
      </p>
    </div>
  </div>
</div>