<div class="container col-sm-offset-1">
  <div class="color col-sm-10">
    <div class="pages">
      <h3 class="text-center">ДОСТАВКА</h3>
      <p>Минимальная сумма заказа в интернет-магазине ЕВРОХАУС - составляет 200 грн.</p>
      <p>Доставка по г.Запорожье осуществляется БЕСПЛАТНО до Вашего подъезда!</p>
      <p>* - при заказе на сумму, менее 200грн – возможен самовывоз (обсуждается индивидуально).</p>
      <p>- Коммунарский, Шевченковский, Александровский, Вознесеновский (до БУЛЬВАРА ШЕВЧЕНКО) районы, а также пгт Балабино - доставка осуществляется ЕЖЕДНЕВНО кроме воскресенья.</p>
      <p>- ОСТАЛЬНЫЕ РАЙОНЫ - доставка осуществляется  - В СУББОТУ</p>
      <p>*Возможность доставки в отдаленные от города районы( такие как:Кушугум, Теплиное, Военстрой и т.д) оговаривается индивидуально!</p>
      <p>Доставка по Украине  осуществляется УКРПОЧТОЙ ИЛИ НОВОЙ ПОЧТОЙ - за счет покупателя и только по 100% оплате товаров.
      </p>
      <h3 class="text-center">ОПЛАТА</h3>
      <p>Оплата наличными</p>
      <p>Oставленный курьером заказ по указанному Вами адресу Вы сможете оплатить непосредственно в момент получения (только по Запорожью)</p>
      <p>Безналичный расчет</p>
      <p>Ваш заказ в интернет-магазине Вы можете оплатить посредством банковского перевода на карту Приват-банка.</p>
      </p>
    </div>
  </div>
</div>