<div class="container col-sm-offset-1">
  <div class="color col-sm-10">
    <div class="pages">
      <h3 class="text-center">ДОСТАВКА</h3>
      <p><span style="color: #386ccd">Минимальная сумма заказа</span> в интернет-магазине <span style="color: #386ccd">ЕВРОХАУС</span> - составляет <span style="color: #386ccd">200 грн.</span></p>
      <p><span style="color: #386ccd">Доставка по г.Запорожье осуществляется БЕСПЛАТНО до Вашего подъезда!</span></p>
      <p><span style="color: red">*</span> - при заказе на сумму, менее 200грн – возможен самовывоз (обсуждается индивидуально).</p>
      <p><span style="color: #386ccd">- Коммунарский, Шевченковский, Александровский, Вознесеновский (до БУЛЬВАРА ШЕВЧЕНКО) районы, а также пгт Балабино - доставка осуществляется ЕЖЕДНЕВНО кроме воскресенья.</span></p>
      <p><span style="color: #386ccd">- ОСТАЛЬНЫЕ РАЙОНЫ - доставка осуществляется  - В СУББОТУ</span></p>
      <p><span style="color: red">*Возможность доставки в отдаленные от города районы( такие как:Кушугум, Теплиное, Военстрой и т.д) оговаривается индивидуально!</span></p>
      <p>Доставка по Украине  осуществляется УКРПОЧТОЙ ИЛИ НОВОЙ ПОЧТОЙ - за счет покупателя и только по 100% оплате товаров.
      </p>
      <h3 class="text-center">ОПЛАТА</h3>
      <p>Оплата наличными</p>
      <p>Oставленный курьером заказ по указанному Вами адресу Вы сможете оплатить непосредственно в момент получения (только по Запорожью)</p>
      <p>Безналичный расчет</p>
      <p>Ваш заказ в интернет-магазине Вы можете оплатить посредством банковского перевода на карту Приват-банка.</p>
      </p>
    </div>
  </div>
</div>
<style>
  .fone3{background: #1417ae;}
</style>