<div class="container col-sm-offset-1">
  <div class="color col-sm-10">
    <div class="pages">
      <h3 class="text-center">Доставка по городу Запорожью:</h3>
      <p>
      При заказе товара на сумму 200 грн. и выше доставка по Запорожью осуществляется бесплатно!
      При заказе товара на сумму до 200 грн. доставка по Запорожью составляет 8 грн.
      Доставка осуществляется курьером в оговоренное с нашим менеджером время и место. Курьер выезжает только по предварительному звонку.
      Срок доставки – от 2 до 24 часов. Другие сроки доставки оговариваются индивидуально с нашими менеджерами, звоните.</p>
      <h3 class="text-center">Доставка по Украине:</h3>
      <p>При заказе товара на сумму 1000 грн. и выше доставка по Украине осуществляется бесплатно (действует при заказе только на склад курьерской службы в вашем городе).
      При заказе товара на сумму до 1000 грн. доставка по Украине осуществляется согласно тарифам перевозчика.
      Доставка осуществляется курьерскими службами: «Новая почта», «Интайм», «Укрпочта» по предоплате или наложенным платежом (оплата при получении заказа на почте).
      «Новая почта», «Интайм»: примерно 30-40 грн. при самовывозе со склада перевозчика или примерно – 50-75 грн при доставке до двери курьером в вашем городе.
      «Укрпочта» : примерно 9-20 грн. при самовывозе со склада перевозчика или примерно – 25-30 грн при доставке до двери курьером в вашем городе. Подробнее с услугами перевозчиков можете ознакомиться на сайтах: «Новая почта», «Интайм», «Укрпочта».
      При выборе службы доставки выберите удобный и ближайший для вас адрес и номер представительства перевозчика («Новая почта», «Интайм»), или почтовый индекс с адресом доставки («Укрпочта»). Внимание! Если хотите максимально быстрой доставки, указывайте точный подробный адрес с почтовым индексом (для «Укрпочты») и Ф.И.О. получателя.
      При оформлении заказа до 13:00 отправка осуществляется в день заказа. При оформлении заказа после 13:00 отправка осуществляется на следующий день (кроме воскресенья). Срок доставки – 1-3 дня для «Новой почты» и « Интайма» и 5-14 дней для «Укрпочты».
      При получении заказа не забудьте взять с собой документ подтверждающий личность и номер экспресс-накладной, передаваемый вам в SMS-сообщении. Помните, что срок хранения товара на складе после прибытия составляет 5 дней («Новая почта», «Интайм»), после истечения срока будет начисляться пеня за каждый день хранения согласно тарифам транспортной компании.
      Все товары отправляемые нами мы качественно и надёжно упаковываем в необходимую упаковку для того чтобы вы получили товар в сохранности и первоначальном виде.
      По всем вопросам относительно доставки обращайтесь к нашим менеджерам. Звоните, не стесняйтесь!</p>
      <h3 class="text-center">Оплата</h3>
      <p>Оплата осуществляется несколькими способами:
      - Наличный расчет курьеру (только для г. Запорожья)
      - На банковскую карту
      - Наложенный платеж (с минимальной страховочной предоплатой 50 грн).
      - Наличный расчет курьеру (только для г. Запорожья). Оплата совершается в момент доставки заказа. Это самый удобный и простой вариант оплаты.
      - На банковскую карту Приватбанка или Райфайзен Банк Аваль. Наиболее выгодный вариант расчёта при пересылке заказа по почте, так как дополнительно не взимается комиссия транспортными компаниями за услугу «наложенный платёж». После оформления заказа и звонка нашего менеджера вы получаете SMS на ваш телефон или письмо по электронной почте с указанием номера банковской карты и Ф.И.О. получателя. После вы можете оплатить заказ с помощью интернет-банкинга у себя дома (например, «Приват-24»), кассы банка, платежных терминалов («Приватбанк»).
      Просьба при таком варианте оплаты сообщать о своём платеже, времени и сумме нашему менеджеру для более быстрой отправки заказа. Заказ по предоплате на банковскую карту отправляется только после получения денег на счёт.
      При данном варианте оплаты возможна оплата комиссии банка, просим учитывать её во избежание недоразумений:
      Приватбанк - 0,5 % + 2 грн за операцию пополнения через терминал или кассу;
      - 0,5 % за операцию через "Приват 24".
      Райфайзен Банк Аваль - комиссия не взымается.</p>
    </div>
  </div>
</div>