<div class="container">
  <div class="row">
    <div class="col-sm-2 cat">

    </div>
    <div class="col-sm-10">
      <div class="row text-center">
        <div class="col-xs-6 col-md-4 col-lg-3">
          <div class="color">
            <a href="#" >
              <div><img src="assets/noimage.jpg"></div>
              <h3>Польша1</h3>
              <p>150грн</p>
              <p>Купить</p>
              <p>Описание</p>
            </a>
          </div>
        </div><!--/span-->
        <div class="col-xs-6 col-md-4 col-lg-3">
          <div class="color">
            <a href="#" >
              <div><img src="assets/noimage.jpg"></div>
              <h3>Польша2</h3>
              <p>150грн</p>
              <p>Купить</p>
              <p>Описание</p>
            </a>
          </div>
        </div><!--/span-->
        <div class="col-xs-6 col-md-4 col-lg-3">
          <div class="color">
            <a href="#" >
              <div><img src="assets/noimage.jpg"></div>
              <h3>Польша3</h3>
              <p>150грн</p>
              <p>Купить</p>
              <p>Описание</p>
            </a>
          </div>
        </div><!--/span-->
        <div class="col-xs-6 col-md-4 col-lg-3">
          <div class="color">
            <a href="#" >
              <div><img src="assets/noimage.jpg"></div>
              <h3>Германия1</h3>
              <p>150грн</p>
              <p>Купить</p>
              <p>Описание</p>
            </a>
          </div>
        </div><!--/span-->
        <div class="col-xs-6 col-md-4 col-lg-3">
          <div class="color">
            <a href="#" >
              <div><img src="assets/noimage.jpg"></div>
              <h3>Германия2</h3>
              <p>150грн</p>
              <p>Купить</p>
              <p>Описание</p>
            </a>
          </div>
        </div><!--/span-->
        <div class="col-xs-6 col-md-4 col-lg-3">
          <div class="color">
            <a href="#">
              <div><img src="assets/noimage.jpg"></div>
              <h3>Германия3</h3>
              <p>150грн</p>
              <p>Купить</p>
              <p>Описание</p>
            </a>
          </div>
        </div><!--/span-->
        <div class="col-xs-6 col-md-4 col-lg-3">
          <div class="color">
            <a href="#" >
              <div><img src="assets/noimage.jpg"></div>
              <h3>Германия4</h3>
              <p>150грн</p>
              <p>Купить</p>
              <p>Описание</p>
            </a>
          </div>
        </div><!--/span-->

      </div>
    </div>
  </div>
</div>