<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>


<div class="col-sm-3 cat">

  <ul class="nav navmenu-nav ul">
    <% @categories.each do |category| %>
        <li class="dropdown li3 punkt"><%= link_to category.name, category_path(category) %></li>
        <% if category == @category %>
        <li class="li">
          <ul class="ul2">
            <% category.twocategories.each do |twocategory| %>
                <li class="li2"><%= twocategory.name %></li>
            <% end %>
          </ul>
        </li>
        <% end %>
    <% end %>
  </ul>
</div>

<div class="col-sm-9">
  <div class="row text-center">
    <div class="col-xs-6 col-md-4 col-lg-3">
      <div class="color">
        <a href="#" >
          <div><img src="/assets/noimage.jpg"></div>
          <h3>Порошки</h3>
        </a>
      </div>
    </div><!--/span-->
    <div class="col-xs-6 col-md-4 col-lg-3">
      <div class="color">
        <a href="#" >
          <div><img src="/assets/noimage.jpg"></div>
          <h3>Порошки</h3>
        </a>
      </div>
    </div><!--/span-->
    <div class="col-xs-6 col-md-4 col-lg-3">
      <div class="color">
        <a href="#" >
          <div><img src="/assets/noimage.jpg"></div>
          <h3>Порошки</h3>
        </a>
      </div>
    </div><!--/span-->
    <div class="col-xs-6 col-md-4 col-lg-3">
      <div class="color">
        <a href="#" >
          <div><img src="/assets/noimage.jpg"></div>
          <h3>Порошки</h3>
        </a>
      </div>
    </div><!--/span-->
    <div class="col-xs-6 col-md-4 col-lg-3">
      <div class="color">
        <a href="#" >
          <div><img src="/assets/noimage.jpg"></div>
          <h3>Порошки</h3>
        </a>
      </div>
    </div><!--/span-->
    <div class="col-xs-6 col-md-4 col-lg-3">
      <div class="color">
        <a href="#">
          <div><img src="/assets/noimage.jpg"></div>
          <h3>Порошки</h3>
        </a>
      </div>
    </div><!--/span-->
    <div class="col-xs-6 col-md-4 col-lg-3">
      <div class="color">
        <a href="#" >
          <div><img src="/assets/noimage.jpg"></div>
          <h3>Порошки</h3>
        </a>
      </div>
    </div><!--/span-->
    <div class="col-xs-6 col-md-4 col-lg-3">
      <div class="color">
        <a href="#" >
          <div><img src="/assets/noimage.jpg"></div>
          <h3>Порошки</h3>
        </a>
      </div>
    </div><!--/span-->
    <div class="col-xs-6 col-md-4 col-lg-3">
      <div class="color">
        <a href="#" >
          <div><img src="/assets/noimage.jpg"></div>
          <h3>Порошки</h3>
        </a>
      </div>
    </div><!--/span-->
  </div>
</div>
