$('#buttonAddTocart_<%= @product.id %>').html('<button class="btn btn-default">Товар в корзине</button>');
$('#modalshowCart').modal('show');
$('.showCartImage').html('<%= image_tag @product.image.url(:admin) %>');
$('.showCartName').html('<%= @product.name %>');
$('.showCartPrice').html('<%= @product.price %>грн');

